[Desktop Entry]
Version=1.0
Type=Application
Name=DataLogger
Comment=Temperature Data Logger for Raspberry Pi 5
Icon=/home/pi/DataLogger/datalogger_icon.png
Exec=/home/pi/DataLogger/launch_datalogger.sh
Terminal=true
Categories=Development;Engineering;
StartupNotify=true
Path=/home/pi/DataLogger