[Desktop Entry]
Version=1.0
Type=Application
Name=DataLogger
Comment=Temperature Data Logger Application
Exec=bash -c 'cd ~/DataLogger/data-logger-project && ./start_datalogger.sh'
Icon=
Terminal=true
Categories=Application;Science;
StartupNotify=true
